.Header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

.Header a {
    text-decoration: none;
    align-self: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}