.Post {
    border: 1px solid #999999;
    margin: 20px;
    padding: 20px;
}

.Post .createDate {
    color: #555555;
}

.Post a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #999999;
    background: #eeeeee;
    border-radius: 5px;
    color: #555555;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}