* {
    box-sizing: border-box;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: Arial, sans-serif;
}

.App .content {
    border: 1px solid #000000;
    padding: 15px;
}