.SiteMenu {
    align-self: center;
}

.SiteMenu a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border-left: 1px solid #000000;
    padding: 0 20px;
    line-height: 40px;
    text-transform: uppercase;
}

.SiteMenu a:first-child {
    border-left: none;
}

.SiteMenu a:hover {
    color: #ffffff;
    background: #555555;
}